#shrimp {
  width: 48%;
  height: 48%;
  margin: 40px auto;
  float: left;
}

#text1 {
  width: 40%;
  height: 40%;
  margin: 40px auto;
  margin-left: 3em;
  color: black;
  float: left;	
}

#slider {
  width: 99%;
  height: 40%;
  margin: 40px auto;
  margin-left: 0em;
}

#button1 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

