

#shrimp {
display:none;
  width: 48%;
  height: 48%;
  margin: 40px auto;
  float: left;
}

#text1 {
  width: 40%;
  height: 40%;
  margin: 10px auto;
  margin-left: 3em;
  color: white;
  float: left;	
}


#bistro {
  display:none;
  width: 48%;
  height: 48%;
  margin: 40px auto;
  float: right;
}

#text2 {
  width: 40%;
  height: 40%;
  margin: 10px auto;
  margin-left: 3em;
  color: white;
  float: left;	
}

#button1 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #3498db;
  padding: 4px 10px 5px 10px;
  text-decoration: none;
}

#Seperator {
  width: 100%;
  margin-left: 1em;
  color: white;
  clear: both;
}

#icon1 {
  width: 33%;
  height: 50%;
  margin: 10em auto;
}

#icon2 {
  width: 33%;
  height: 50%;
  margin: 10em auto;
}

#icon3 {
  width: 33%;
  height: 50%;
  margin: 10em auto;
}

#div_icon-left {
	height:10%;
	width:33.33%;
	float: left;
}

#div_icon-middle {
	height:10%;
	width:33.33%;
	float: left;
}

#div_icon-right {
	height:10%;
	width:33.33%;
	float: left;
}

#wrapper {
	height:29%;
	width:100%;
}

.pushleft {
	margin-left: 100px;
	margin-top: -50px;
	clear:both;
}











